PRACTICLES

# PYTHON CODE

In [4]:
print("HELLO WORLD")
#to print any statement 
#statement should end with any quotes single or double

HELLO WORLD

In [8]:
print(5+5)
# PYTHON is high level lang
#easy to understand and write for human

10

In [9]:
 import sys
#sys existing library
print(sys.version)
#checking the version 
#python is interpreter because it is used to translation happens line by line and corrects the line by line code while compiling rather than whole code

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

In [12]:
!pip install numpy
#installing libraries

Requirement already satisfied: numpy in c:\users\admin\appdata\roaming\python\python311\site-packages (1.26.2)

# keywords are reserved/predefined words

In [13]:
import keyword
print(keyword.kwlist)
#to display different keywords used in python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [14]:
len(keyword.kwlist)
#len is a predefined function it is used to count the keywords

35

# identifiers

: these are the names given to any entities like variables,functions or classes .

: it used to uniquely identify any entities

## rules

: we cnt use digits in begng we cn use in end or middle

In [17]:
name="Rohan"
#2name="rohan" { wrong output }

: we cnt add any spcl character in identifier 

: underscore cn be used

In [18]:
name_2="Rohan"
# name$2="rohan" {not valid }

: Keywrds cnt use as identifiers

In [19]:
# import="rohan"
name="rohan"

: python is case-sensitive lang

In [20]:
var=4
# VAR=6 {case sensitive - cnt use caps letters}
print(var)

4

# variables

: are reserved memory location where it store some value

: it is created when we assign some value

In [21]:
y=10 
# y is storing value 10
y
# calling a variable

10

In [22]:
print(y) #printing y value

10

In [23]:
name="abc"
city="mumbai"
age=20
subject="science"
# single assignment

In [24]:
# Use multiple assignment to store the name and score
name,city,age,subject="abc","mumbai",20,"science"
# multiple assignment
print(city)

mumbai

In [25]:
print(name,city,age,subject)

abc mumbai 20 science

In [26]:
p1=p2=p3=p4=90
print(p1)

90

In [27]:
print(p1,p2,p3,p4)
# store multiple variables same values

90 90 90 90

In [29]:
# single line statement 
x=2+4+5+6
x

17

In [30]:
# multiple line statement
z=12+20 \
+4+19 \
+100
print(z)

155

# Datatypes

:: Numerical datatypes

                    -- integers : contains whole numbers which consist positive n negative values
                             eg: 2,1,-3,3

                    -- float   : consist number with decimal values
                             eg: 2.3
                             
                    -- complex :  number with 2 parts 1) real and 2) imaginary
                            eg: 2+5 (2-real , 5-imaginary)

:: Boolean datatypes 

                    which has only 2 value True or False

:: String datatypes 

                    collection of characters which are put inside single or double quotes
                    eg: "hello"

# predefined functions

:: type() --> return datatype of any value

            eg:  type(2) -> int
                 type(-7,1) -> float
                 type(True) -> bool

:: isinstance(value,datatypes) --> return true or false based on whtr value belong the particular data type or not 

             eg: isinstance(5,int)
                  => True 
                 isinstance(3, float)
                 => False

:: getsizeof(value) --> return size of value intense of byte

             eg:  import sys
                  sys.getsizeof(5)
                  => 28

In [32]:
import sys
x=12
print(x)
print(type(x))
print(isinstance(x,int))
print(sys.getsizeof(x))

12
<class 'int'>
True
28

In [35]:
import sys
x=12+4j
print(x)
print(type(x))
print(isinstance(x,complex))
print(isinstance(x,int))
print(sys.getsizeof(x))

(12+4j)
<class 'complex'>
True
False
32

In [40]:
import sys
x=True
print(x)
print(type(x))
print(isinstance(x,bool))
print(isinstance(x,int)) #here x=1=True and 0=False so integer value is True 
print(sys.getsizeof(x))

True
<class 'bool'>
True
True
28

In [37]:
import sys
x=12.5
print(x)
print(type(x))
print(isinstance(x,float))
print(isinstance(x,int)) 
print(sys.getsizeof(x)) # byte value displayed

12.5
<class 'float'>
True
False
24

# String creation

In [1]:
str1="hello python"
str1

'hello python'

In [2]:
str2="hello world"
str2

'hello world'

In [7]:
str1 + str2 #concat the two string

'hello pythonhello world'

### String indexing

:: in indexing we can assign number to every character of string and using that number we can access that character

:: there is positive and negative index where positive strts from 0,1,2.. and negative indexing strats from -1,-2..

In [10]:
str1="apple keeps an doctor away"
str1[0]

'a'

In [12]:
str1[5]

' '

In [15]:
print(str1[9],str1[16])

p o

In [16]:
str1.index('k')

6

## Slicing String

:: Cutting the string into pieces

### syntax

:: str [start:end]  -->  we slice from strt index till [end - 1]

In [18]:
str1

'apple keeps an doctor away'

In [19]:
str1[0:7]

'apple k'

In [20]:
str1[-10:-4]

'octor '

In [21]:
str1[5:10]

' keep'

In [22]:
str1[-6:-2]

'r aw'

:: str [ : ]  --> returns entire string as it is 

               no slicing

In [24]:
str1[:]

'apple keeps an doctor away'

:: str1 [ start :]  --> slice from strt index till last character of the string

                        012345678  [ positive ]
                        hell0 all
                        897654321  [ negative values ]

In [25]:
str2= "hello all"
str2[-3:]

'all'

In [26]:
str="hello python"
str[1:]

'ello python'

In [27]:
str[-9:]

'lo python'

::  str[ :end ]  --> slice frm 0 till ( end - 1 )

                        0  1  2 3 4 5 6 7 8 9 10 11  [ positive ]
                        h  e  l l o   p y t h  o  n
                        11 10 9 8 7   6 5 4 3  2  1  [ negative values ]

In [36]:
str[:8]

'hello py'

In [37]:
str[::-1]

'nohtyp olleh'

In [38]:
str[::-2]

'nhy le'

In [39]:
str[::2]

'hlopto'

In [40]:
str[0:12:2]

'hlopto'

# update and delete string

not possible because strings r immutable -> means cnt change or delete character from string once it is assigned 

eg :str[0:1]="hello" #wrong output

### Replace string

replace ( old , new )     ---> used to temporary replace any character of a string

In [54]:
str="hello world"

In [55]:
x=str.replace("he","hi")
x

'hillo world'

In [64]:
del str #deleted hello python specified so displayed error msg

NameError: name 'str' is not defined

# string concatenation

In [50]:
str1="data"
str2="science"
print(str1+" " +str2)

data science

In [57]:
'2'+'3'

'23'

# string membership

in      -->  true if character is present otherwise false

not in  -->  "           "     is not present otherws false

In [59]:
str2

'science'

In [63]:
'S' in str2

False

In [61]:
'ie' in str2

True

In [62]:
'by' not in str2

True

# string partitioning

v cn patition the string into 3 parts 

1. part before argumentation string
2. argumented string itself
3. part after argumentation string

In [68]:
string1="hello to all people"
string1.partition("all")

('hello to ', 'all', ' people')

In [69]:
str1="raju and ramu and neeta are best friends" # any sentence specify it will patition into 3 parts
str1.partition("and")

('raju ', 'and', ' ramu and neeta are best friends')

In [71]:
string1="hello to all people"
string1.partition("to")

('hello ', 'to', ' all people')

In [70]:
string1="hello to all people"
string1.partition("hello")

('', 'hello', ' to all people')

# built in functions on string

::  count() -->counting how many times it occured

In [73]:
string1

'hello to all people'

In [75]:
string1.count('l')

5

In [77]:
string1.count('o')

3

:: strip() --> it will remove spaces from both ends (strt and end)

                it will be removed spaces at both the ends only for temporary

In [78]:
mystr="    hello all  "
mystr.strip()

'hello all'

In [79]:
mystr

'    hello all  '

:: lstrip()  --> it will remove whitespaces from left 

                 begng of string

In [80]:
mystr.lstrip()

'hello all  '

:: rstrip()  -->  it will remove space from right (end of the string)

In [81]:
mystr.rstrip()

'    hello all'

In [82]:
mystr

'    hello all  '

In [1]:
mystr2="****Hello$$$$$"
mystr2.strip("*$")

'Hello'

In [6]:
str1="Hello python"
str1.upper()    #converting letters in uppercase

'HELLO PYTHON'

In [7]:
str1.lower()  #converting letters in lowercase

'hello python'

### startswith()

In [ ]:
#startswith()  --->  returns True if the string starts with argumented string
str2="GOOD DAY"
str2.lower()

In [10]:
str2.startswith("g")

False

In [11]:
str2.startswith("G")

True

### endswith()

In [12]:
#endswith() ---> returns True if the string ends with argumented string
str2.endswith("y")

False

In [13]:
str2.endswith("Y")

True

### split()

In [17]:
#split()  ---->  by default splits the string into different parts based on spaces
#based on spaces it spilts the sentences and then stored in list []
str1="thanks to all people. see you all next time"
str1.split()

['thanks', 'to', 'all', 'people.', 'see', 'you', 'all', 'next', 'time']

In [18]:
str1.split('a') 
# where ever a is there it splits the sentence

['th', 'nks to ', 'll people. see you ', 'll next time']

In [16]:
str1.split('e')
# when u dont want any character in sentence u cn remove using this method

['thanks to all p', 'opl', '. s', '', ' you all n', 'xt tim', '']

# joining strings and numbers together

there are 3 methods

In [56]:
x=4+3-2
print("the value of x:",x)                  #first method
print("the value of x is: {}".format(x))    #second method
print(f"the value of x is: {x}")            #third method

the value of x: 5
the value of x is: 5
the value of x is: 5

In [57]:
a=10
b=12
print("the value of a:",a," & the value of b is",b)                      #first method
print("the value of a is:{} & the value of b is : {}".format(a,b))       #second method
print(f"the value of a is:{a} & the value of b is : {b}" )               #third method

the value of a: 10  & the value of b is 12
the value of a is:10 & the value of b is : 12
the value of a is:10 & the value of b is : 12

# TYPECASTING

 ::  converting one datatype into another datatype 
 
 ::  there are two types 

                         1. Auto typecasting 
                         2. forced "

## Auto typecasting

based on highest priority the remaining value will convert here 

first priority is

                  FLOAT

                  INT
                  
                  BOOL

In [26]:
# example:
x=4+12.4+True
x

17.4

In [27]:
8+True

9

In [28]:
4+'4'+4.5
# here string is not used in auto typecasting

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Forced typecasting

user is converting the 1 datatype to another datatype forcefully

## int()

In [30]:
int(False)

0

In [46]:
int(True)

1

In [53]:
int(2.7)
#here rounding will not take place

2

In [33]:
int("7")

7

## Bool()

converts to boolean 

anything apart frm 0 is considered has True

In [34]:
bool(7)

True

In [43]:
bool(0)
# 0 is considered has false

False

In [36]:
bool(-3-7)

True

In [37]:
bool("hello")

True

In [42]:
bool(-4)

True

## str()

converts to string datatype

In [38]:
str(4)

'4'

In [39]:
str(2.3)

'2.3'

In [40]:
str(True)

'True'

In [41]:
str(-4)

'-4'

## float()

converts to float

In [49]:
float(2)

2.0

In [50]:
float(-2)

-2.0

In [51]:
float(True)

1.0

In [52]:
float(False)

0.0

# PYTHON OPERATORS

OPERATORS R SPCL SYMBOLS WHCH CN BE USED TO PERFORM SOME OPERATIONS ON VALUES

### ARITHMETIC OPERATORS

used to perform mathematic operations

two types :

            1. BASIC 
            2. ADVANCED OPERATOR

#### BASIC OPERATOR

IT HAS ----> _ , + , * , /

In [59]:
a=100
b=5
c=a+b
c

105

In [60]:
c=a-b
c

95

In [61]:
c=a*b
c

500

In [62]:
c=a/b
c

20.0

#### ADVANCED OPERATOR

 % ---> MODULUS 
 
        returns remainder of division

// ----> FLOOR

        returns quotient by round figuring it 

** ----> POWER

        multiplys the number according to the raised values 

        eg: 5**2 means 5*5=25 (

In [67]:
#remainder
c=a%b
c

0

In [66]:
#floor division
c=a//b
c

20

In [65]:
#power
c=a**b
c

10000000000

# COMPARISON OPERATORS

compares 2 values and returns result in terms of True or False

(> )            (greater than)

<               (less than)

(>=)            (greater than equal to)

<=              (less than equal to)

==              (equal to)

!==             (not equal to)

In [68]:
x=12
y=7
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [69]:
x="Hello"
y="hello"
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

False
True
False
True
False
True

# LOGICAL OPERATORS

AND OPERATORS --> returns true if both values are true

In [78]:
print(5<2 and 3>1)

False

In [80]:
print(5>=5 and 4>1)

True

OR OPERATORS --> returns true if any one value is true

In [81]:
print(5>=5 or 4>1)

True

In [82]:
print(3>1 or 4>=4)

True

In [84]:
print(7<5 and 3>1)

False

In [86]:
print(5!=4 and 7>1)

True

NOT OPERATOR ---> negates the result 

                    if a = False then ans will be True
                    if a = True then ans will be False

In [88]:
print(not(5>2 or 3>1))

False

In [89]:
print(not(4<3 or 5!=4))

False

In [90]:
print(5<3 or 3>7 and 2<9)

False

# CONDITION STATEMENTS OR DECISION MAKING STATEMENT

In [1]:
# SYNTAX 
#INDENTATION MEANS SPACE ----> specifys block of code

## IF CONDITION

In [4]:
x=5
if x>1:
    print("hello")

hello

In [6]:
x=-5 #method one
if x>1:
    print("hello")
else:
    print("bye")

bye

In [5]:
x=-5  #method 2
if x>1:
    print("hello")
print("bye")

bye

In [7]:
x=5
if x>0:
    print("number is positive")

number is positive

In [8]:
x=4
if x==4:
    print("if statement we have started")  # executes based on coditions 
print("out of if") # always executes if the condition is false or true

if statement we have started
out of if

## IF ELSE STATEMENT

If the condition is true then statements inside if will execute but, if the condition is false then statement under else will execute

In [10]:
x=-10
if x>0:
    print("Positive")
else:
    print("negative")

negative

In [12]:
a=19
if a%2==0:  #if 19/2 is 0 ,then it is even or odd
    print("even")
else:
    print("odd")

odd

## IF-ELIF STATEMENT

They r used to check multiple condition . if one condition is not true it will check another condition under elif .if that is also not true then statements under else will execute

In [14]:
x=-7
if x>0:
    print("possitive")
elif x<0:
    print("negative")
else:
    print("zero")

negative

In [15]:
x=6
if x>10:
    print ("iam in first if")
elif x==10:
    print("im in second if")
elif x<10:
    print("im in third if")   # here when it compares 6<10 the condition is true , so the condition is displayed the output and it didnt check for other condition to execute
elif x==6:
    print("iam in fourth if")  #this condition will not execute bcz we got answer abve

im in third if

### input()

it helps to take input from user

In [16]:
x=input("enter a number:")
print(type(x))
if x>0:
    print("positive")  # we cannot compare string value with 0 (x is "5" the "5" >0 , will be string comparing with int so here we have to convert it into int so this process is known as typecasting

enter a number: 2

<class 'str'>

TypeError: '>' not supported between instances of 'str' and 'int'

In [17]:
x=int(input("enter a number:"))
print(type(x))
if x>0:
    print("positive")

enter a number: 34

<class 'int'>
positive

##### by default input() takes value as string

In [21]:
## check if u r selected in cricket team based on age 
age=int(input("enter your age:"))
print(age)
print(type(age))
if age >18 and age<=35:
    print("selected")
elif age==18:
    print(" u might get selected")
elif age<18:
    print("you are not selected since u r underage")
else:
    print("not selected")

enter your age: 12

12
<class 'int'>
you are not selected since u r underage

## NESTED IF CONDITION

When 1 if statement is inside another if statement then it is nested if

In [23]:
x=10
if x>0:
    print("display first if")
    if x==10:                 #nested if statement 
        print("display second if") # since 2 condition is true it displayed

display first if
display second if

In [27]:
x=10
if x>0:          # 10>0 --> T
    print("first if")  #executes
    if x>12:     #10>12 ---> F
        print("second if")  #not executes 
        if x==10:    #10==10 
            print("third if") # here the above condition is false so it will stop checking the below condition and it stops executing 
        else:
            print("else of 3rd if")
    else:
        print("else of 2nd if") #executes

first if
else of 2nd if

In [26]:
x=15
if x>0:
    print("first if")  #T
    if x>12:
        print("second if")  #T
        if x==10:    
            print("third if") #F
        else:
            print("else of 3rd if")
    else:
        print("else of 2nd if")

first if
second if
else of 3rd if

# DATETIME PACKAGE

PRE INSTALLED LIBRARY

4 MODULE :
            date
            
            time

            datetime
            
            timedelta

In [30]:
#date module
from datetime import date
#create date
my_date=date(2020,12,1)  #year,month,day
print(my_date)

2020-12-01

In [40]:
#todays date 
today1=date.today()
print(today1)

2024-07-18

In [36]:
my_date.year

2020

In [34]:
today1.isoweekday()  # 1-mon 2-tue 3-wed 4-thurs (so displayed ) 4-fri so on

4

In [57]:
today1.month

7

In [38]:
today1.day

18

In [39]:
from datetime import time 
time1=time(12,12,30,12452)
print(time1)

12:12:30.012452

In [42]:
time1.microsecond

12452

In [45]:
time1.second

30

In [47]:
time1.hour

12

In [2]:
from datetime import datetime as dt
current_timedate=dt.now()
print(current_timedate)

2024-07-29 19:06:36.577344

In [53]:
print(current_timedate.strftime("%H:%M:%S"))  #to display only time (method 1)

11:02:32

In [58]:
print(current_timedate.strftime("%T"))  #method 2 (strtime means -->string format time)

11:02:32

### using timedelta

to find future dates

In [68]:
from datetime import timedelta as td,datetime
today1=datetime.now()
future_date=today1+td(days=5000,hours=1,minutes=10)  # after 5000 days what will be the date and time it displays o/p
print(future_date)

2038-03-27 12:27:24.611718

In [64]:
future_date.isoweekday()  #display which day it comes 6--satdy

6

In [67]:
from datetime import timedelta as td,datetime,date
today1=date.today()
future_date=today1+td(days=5000)  # after 5000 days what will be the date displayed in o/p
print(future_date)

2038-03-27

# DATA STRUCTURES

are the ways to store ur data v cn organize the data and perform various operation on that like :

insert

update

delete

sort access very easily

## Basic data structure are:

### 1) Tupples

:: it is immutable means unchangable. element once assigned cnt be updated or removed 

:: it is preferd only if u dont have to change data over time

:: elements are stored inside () braclets

:: tuples r faster then list

In [1]:
t1=(2,3,4)
t1

(2, 3, 4)

In [71]:
tuple1=()  #empty tuple
tuple1

()

In [72]:
type(tuple1)

tuple

In [73]:
tuple2=(3,12,67,23)  #tuple of int 
tuple2

(3, 12, 67, 23)

In [74]:
tuple3=(5.2,-1.3,4.5)    #tuple of float
tuple3

(5.2, -1.3, 4.5)

In [75]:
tuple4=('a','b','c')    #tuple of strings 
tuple4

('a', 'b', 'c')

In [76]:
tuple5=(8,-3.4,'b',True,{7,6},[2,4])    #tuple of mixed data
tuple5

(8, -3.4, 'b', True, {6, 7}, [2, 4])

In [77]:
tuple6=(5,59,(8,1),(3,1,2))    #nested tuple 
tuple6

(5, 59, (8, 1), (3, 1, 2))

### TUPPLE INDEXING

In [9]:
tuple3=(5.2,-1.3,4.5)    
tuple3

(5.2, -1.3, 4.5)

In [10]:
tuple3[2]

4.5

In [11]:
tuple3[0:1]

(5.2,)

In [12]:
tuple3[2]=3.5 #tuple doesnt support item UPDATION

TypeError: 'tuple' object does not support item assignment

In [13]:
del tuple3[2] #tuple cnt delete any one items frm tuple

TypeError: 'tuple' object doesn't support item deletion

In [15]:
del tuple3   #here tuple is deleted completely

NameError: name 'tuple3' is not defined

### count()

returns no.of occurrence of particular element

In [16]:
x=(5,3,5,6,7,5)
x.count(5)

3

### index()

returns  to check index value of elements

In [61]:
x=(1,2,3,4)
x.index(3)

2

### Tuple Membership

In [18]:
tuple5=(8,-3.4,'b',True,{7,6},[2,4])    #tuple of mixed data
tuple5

(8, -3.4, 'b', True, {6, 7}, [2, 4])

In [19]:
-3.4 in tuple5

True

In [20]:
'b' not in tuple5

False

In [21]:
t1=(5,3.1,1)
1 in t1

True

### sorting

returns a sorted list in ascending order (original tupl remains same only output ll chng

In [23]:
tuple2=(3,12,67,23)  #tuple of int 
tuple2

(3, 12, 67, 23)

In [29]:
x=sorted(tuple2)
x

[3, 12, 23, 67]

In [26]:
y=sorted(tuple2,reverse=True)    #descndng order
y

[67, 23, 12, 3]

In [27]:
tuple5

(8, -3.4, 'b', True, {6, 7}, [2, 4])

In [28]:
sorted(tuple5) #cnt sort mixed datatype

TypeError: '<' not supported between instances of 'str' and 'float'

## 2) Dictionary

:: key r mutable and value r immutable concept

:: elements r stored inside the {} brackets

:: separated using :

In [3]:
d1={'one':1,'two':2}
d1['one']#here one->key & 1->value

1

In [82]:
dict1={} #empty dic
dict1

{}

In [83]:
type(dict1)

dict

In [85]:
d2={4:"hello",6:"thank",8:"hi"}  #keys r used to acess value
d2[8]  #fetch the value based on key

'hi'

In [86]:
d2[6]

'thank'

In [89]:
d3={"name":"john","age":20,"city":"mumbai"} #dic with string
d3

{'name': 'john', 'age': 20, 'city': 'mumbai'}

In [90]:
d3["name"]

'john'

In [91]:
d4={1:"one",2:"two",3:["three","tin","tii"]}
d4

{1: 'one', 2: 'two', 3: ['three', 'tin', 'tii']}

In [92]:
d4[3]

['three', 'tin', 'tii']

In [94]:
d4[3][1]

'tin'

In [93]:
d4[3][2]

'tii'

### PREDEFINED FUNCTIONS

---> KEYS()  : RETURNS ONLY KEYS

In [95]:
d2.keys()

dict_keys([4, 6, 8])

---->VALUES() :RETURNS VALUES

In [96]:
d2.values()

dict_values(['hello', 'thank', 'hi'])

---> ITEMS() : RETURNS ALL KEY-VALUE PAIRS

In [97]:
d2.items()

dict_items([(4, 'hello'), (6, 'thank'), (8, 'hi')])

In [99]:
d4={"student1":{'name':'xyz','city':'Mumbai'},  #nested dictionary
    "student2":{'name':'pqr','city':'Delhi'},
    "student3":{'name':'lmn','city':'Agra'}
   }

In [100]:
d4["student2"]

{'name': 'pqr', 'city': 'Delhi'}

In [101]:
d4["student2"]["city"]

'Delhi'

In [102]:
d4["student3"]["name"]

'lmn'

### ADD / REMOVE items from dictionary

In [14]:
d3={"name":"john","age":20,"city":"mumbai"}
d3

{'name': 'john', 'age': 20, 'city': 'mumbai'}

### update()

##### 2 ways to add/update items in dictionary
update()   : its adds a new key-value pair in the dict & also updates the value of particular key

In [15]:
d3.update({'job':'data scientist'})
d3

{'name': 'john', 'age': 20, 'city': 'mumbai', 'job': 'data scientist'}

In [16]:
d3.update({'age':30})
d3

{'name': 'john', 'age': 30, 'city': 'mumbai', 'job': 'data scientist'}

In [17]:
# 2 way is  usage of =
# "=" -->its adds a new key-value pair in the dict & also updates the value of particular key
d3["phno"]=7777
d3

{'name': 'john',
 'age': 30,
 'city': 'mumbai',
 'job': 'data scientist',
 'phno': 7777}

In [18]:
d3["name"]="Mike"
d3

{'name': 'Mike',
 'age': 30,
 'city': 'mumbai',
 'job': 'data scientist',
 'phno': 7777}

### popitem() 
removes last key-value pair

In [19]:
d3.popitem()  #rmvs last values frm the entire set

('phno', 7777)

In [20]:
d3

{'name': 'Mike', 'age': 30, 'city': 'mumbai', 'job': 'data scientist'}

In [21]:
d3.clear()
d3

{}

In [22]:
del d3  #delets all variable

In [23]:
d4={"student1":{'name':'xyz','city':'Mumbai'},  #nested dictionary
    "student2":{'name':'pqr','city':'Delhi'},
    "student3":{'name':'lmn','city':'Agra'}
   }
d4

{'student1': {'name': 'xyz', 'city': 'Mumbai'},
 'student2': {'name': 'pqr', 'city': 'Delhi'},
 'student3': {'name': 'lmn', 'city': 'Agra'}}

In [24]:
d4['student3']

{'name': 'lmn', 'city': 'Agra'}

In [25]:
d4['student3'].pop('city')

'Agra'

In [26]:
d4

{'student1': {'name': 'xyz', 'city': 'Mumbai'},
 'student2': {'name': 'pqr', 'city': 'Delhi'},
 'student3': {'name': 'lmn'}}

In [28]:
d4.popitem()

('student3', {'name': 'lmn'})

In [29]:
d4

{'student1': {'name': 'xyz', 'city': 'Mumbai'},
 'student2': {'name': 'pqr', 'city': 'Delhi'}}

In [30]:
d4['student2'].popitem()  #only last item will be remvd

('city', 'Delhi')

In [31]:
d4

{'student1': {'name': 'xyz', 'city': 'Mumbai'}, 'student2': {'name': 'pqr'}}

### 3) LIST

:: mutable

:: seperates by ,

:: stores multiple element inside [] bracket

:: operation like insertion , deletion , sort can be performed 

:: list cn accpt mixed datatypes

:: flexible dataset (allws to do anytng) 

:: slower

In [6]:
list1=[] #empty list
list1

[]

In [7]:
type(list1)

list

In [8]:
list2=[5,1,6,12,10] #list contains int
list2

[5, 1, 6, 12, 10]

In [9]:
list3=[-1.2,2.5,2.8,4.2]
len(list3)

4

In [29]:
list4=["hi","hello","bye"] # list of strings
list4

['hi', 'hello', 'bye']

In [11]:
list5=["hi",1.2,-4,True] #list of mixed data
list5

['hi', 1.2, -4, True]

In [12]:
#nested list(one inside another)
list6=[3,4,[12,5],7,8,[3,2,10,"hi"]]  #list inside list -- nested list
list6

[3, 4, [12, 5], 7, 8, [3, 2, 10, 'hi']]

In [13]:
len(list6)

6

#### LIST INDEXING

In [14]:
list3

[-1.2, 2.5, 2.8, 4.2]

In [15]:
list3[2]

2.8

In [16]:
list3[-1]

4.2

In [17]:
list6

[3, 4, [12, 5], 7, 8, [3, 2, 10, 'hi']]

In [18]:
list6[2][0]

12

In [20]:
print(list6[2][0],list6[5][2])

12 10

In [21]:
list6[5][2]

10

#### LIST SLICING

In [22]:
list3

[-1.2, 2.5, 2.8, 4.2]

In [23]:
list3[2:]

[2.8, 4.2]

In [24]:
list3[0:5:2]

[-1.2, 2.8]

#### BUILT IN FUNCTIONS ON LIST

In [25]:
#Update an element in list
list4

['hi', 'hello', 'bye']

In [27]:
list4[2]="welcome"  #replacing bye to welcome
list4

['hi', 'hello', 'welcome']

In [30]:
list9=["heloo","bye",1.2,890]
list9[3]=1.3
list9[2]=9
list9

['heloo', 'bye', 9, 1.3]

In [31]:
list4[2],list4[1]="welcome","thanks"
list4

['hi', 'thanks', 'welcome']

#### --->APPEND

ADDS A NEW ELEMENT AT THE END OF THE LIST

In [32]:
list4.append("good")
list4

['hi', 'thanks', 'welcome', 'good']

#### --->EXTEND

ADDS MULTIPLE ELEMENTS TOGETHER AT THE END OF THE LIST

In [33]:
list4.extend([5,3,12,2,6])
list4

['hi', 'thanks', 'welcome', 'good', 5, 3, 12, 2, 6]

#### ---> INSERT

ADDS A NEW ELEMENT AT THE PARTICULAR INDEX LOCATION

insert(index,value)

In [35]:
list4.insert(4,"morning")
list4

['hi', 'thanks', 'welcome', 'good', 'morning', 'morning', 5, 3, 12, 2, 6]

#### --->POP

In [36]:
#removes last element by default or particular element
list4.pop(2)
list4

['hi', 'thanks', 'good', 'morning', 'morning', 5, 3, 12, 2, 6]

#### --->REMOVE

In [38]:
list4.remove("good")
list4

['hi', 'thanks', 'morning', 'morning', 5, 3, 12, 2, 6]

In [53]:
list4=['hi','thanks','morning','good',5,3,12]
list4.remove("good")
list4

['hi', 'thanks', 'morning', 5, 3, 12]

In [58]:
list4=['hi','thanks','morning','good',5,3,12]
del list4[3]
list4

['hi', 'thanks', 'morning', 5, 3, 12]

#### --->CLEAR

clear all the elemts in list making it empty

In [44]:
list4.clear()
list4

[]

In [47]:
list3.reverse()
list3

[2.8, 2.5, -1.2]

In [48]:
list3.sort() #ascending order
list3

[-1.2, 2.5, 2.8]

In [49]:
list3.sort(reverse=True) #descending order
list3

[2.8, 2.5, -1.2]

In [50]:
list5

['hi', 1.2, -4, True]

In [51]:
list5.sort() #sorting is not possible on mixed data

TypeError: '<' not supported between instances of 'float' and 'str'

In [52]:
list7=["hello","bye","thanks","hi"]
list7.sort()
list7

['bye', 'hello', 'hi', 'thanks']

#### JOING LISTS

In [6]:
list2=[1,2,3,4]
list3=[6,8,9]
listx=list2+list3
listx

[1, 2, 3, 4, 6, 8, 9]

In [7]:
list2.extend(list3)
list2

[1, 2, 3, 4, 6, 8, 9]

#### LIST MEMBERSHIP

In [57]:
list3

[2.8, 2.5, -1.2]

In [58]:
-1.2 in list3

True

In [59]:
5 not in list3

True

In [60]:
"hello" in list3

False

In [66]:
list1=['a','e','i','o','u']
character=input("enter the character:")
if character in list1:
    print("vowels")
else:
    print("not a vowel")

enter the character: a

vowels

#### ALL() and ANY()

all() --- returns true if all element are true

any() -- returns true if atleast one element is true

In [68]:
x=[-2,4,8,"hello",0] # 0 is false so 
all(x)

False

In [70]:
any(x)  #atlst one true so it is true

True

## 4) Sets

:: collection of items where duplicates are avoided

:: cannot perform indexing on set

:: mutable

:: elements are inside {} brackets

:: indexing is nt supported

In [19]:
s1={2,4,3,1,2,3,9}
s1

{1, 2, 3, 4, 9}

In [31]:
set1={} #empty set
set1

{}

In [32]:
type(set1)  #v cnt create empty set using {} because it ll tell it is dictionary

dict

In [40]:
set2={3,2,1,3,1,3,7}   #set of int
set2

{1, 2, 3, 7}

In [35]:
len(set2)

4

In [39]:
set3={"hello","bob","john","tony"} #set of strings
set3

{'bob', 'hello', 'john', 'tony'}

In [38]:
set4={"hello",True,1.3,(2,4,5)} #set of mixed strings
set4        # set will acpt mixed data itms but cnt sort

{(2, 4, 5), 1.3, True, 'hello'}

## set membership

In [41]:
set3

{'bob', 'hello', 'john', 'tony'}

In [42]:
4 not in set3

True

In [43]:
'hello' in set3

True

### Built In Function On Set

### add()

adds a new element to set

In [45]:
set3

{'bob', 'hello', 'john', 'tony'}

In [46]:
set3.add("thanks")
set3

{'bob', 'hello', 'john', 'thanks', 'tony'}

### update()

adds multiple elements to sset

In [48]:
set3.update([2,-1.2,5,"hi"])
set3

{-1.2, 2, 5, 'bob', 'hello', 'hi', 'john', 'thanks', 'tony'}

### remove()

removes particular element frm the set

In [50]:
set3.remove("hi")
set3

{-1.2, 2, 5, 'bob', 'hello', 'john', 'thanks', 'tony'}

### discard()

remove a particular element frm set 

remove and discard same

In [52]:
set3.discard(-1.2)
set3

{2, 5, 'bob', 'hello', 'john', 'thanks', 'tony'}

In [53]:
del set3[3] # we cnt delete ,set doesnt support indexing so v use remove or discard

TypeError: 'set' object doesn't support item deletion

### clear()

In [54]:
set3.clear() # clears element on the set
set3

set()

In [55]:
del set3   #deletes set

In [56]:
set3

NameError: name 'set3' is not defined

## Set Operations

#### :: union()   ---->   returns all elements frm both set

In [69]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [70]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [71]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [73]:
A|B|C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### :: intersection()  ----> returns common element in both sets

In [66]:
A.intersection(B)

{4, 5}

In [74]:
B&C

{8}

In [77]:
A&B&C

set()

#### :: difference()  -----> returns all elements wch r present in first set but nt prsnt in second one

In [75]:
A.difference(B,C)

{1, 2, 3}

In [76]:
A.difference(B)

{1, 2, 3}

In [78]:
C.difference(A)

{8, 9, 10}

In [79]:
B-C

{4, 5, 6, 7}

In [80]:
C-A

{8, 9, 10}

In [81]:
C-A-B

{9, 10}

# LOOPS

helps to repeat certain statement again and again

2 types loops are :

                    1) while 
                    2) for loop

### while loop

repeats certain statement till the condition is reached.

when condition is true statement will be executed 

when it is false it stops executing

##### syntax :

                 while(condition):
                 //statement

In [32]:
i=1
while i<=3:
    print(i)
    i=i+1

1
2
3

In [34]:
i=0 
while i<5:
    print("hello",i)
    i=i+1
    # or use i+=1
print("bye",i)   # only condition false it will consider this statement

hello 0
hello 1
hello 2
hello 3
hello 4
bye 5

In [37]:
i=0 
while i<5:
    print("hello",i,end=" ")
    i=i+1
    # or use i+=1
print("bye",i)   # only condition false it will consider this statement

hello 0 hello 1 hello 2 hello 3 hello 4 bye 5

## BREAK()
             --> will stop the loop when it is noticed inside the loop
                 loop cntrl statement is break and continue

In [38]:
i=1
while(i<=5):
    print(i)
    if i==3:
        break
    i=i+1

1
2
3

In [39]:
i=1
while(i<=5):
    print(i)
    break
    i=i+1

1

## CONTINUE 

            ----> stops current iteration by skipping all statements below continue & checking condition for next iteration

In [1]:
i=0
while(i<=5):
    i=i+1
    if i==3:
        continue
        print("hello")
    print(i)

1
2
4
5
6

In [2]:
i=0 
while i<=10:
    print("good morning")
    i=i+1

good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning

# FOR LOOP

            ---> IT IS THE LOOP WHICH IS USED TO LOOP THROUGH THE ITERABLE OBJECTS LIKE LIST,TUPLE ,STRING,SET ETC

In [3]:
#ONE AT A TIME IT PICKS 
l1=[12,4,5,6,10]
for i in l1:
    print(i*2)

24
8
10
12
20

In [4]:
string1="SPIDER MAN"
for i in string1:
    if i==" ":
        continue
    print(i.lower(),end=" ")

s p i d e r m a n

In [12]:
string1="SPIDER MAN"
for i in string1:
    if i==" ":
        continue
    print(i.lower())

s
p
i
d
e
r
m
a
n

In [14]:
string1="SPIDER MAN"
for i in string1:
    if i==string1:
        continue
    print(i.lower(),end=" ")

s p i d e r   m a n

In [15]:
string1="spider man"
for i in string1:
    if i==string1:
        continue
    print(i.upper(),end=" ")

S P I D E R   M A N

## RANGE

        --- IS CLLD AS GENERATOR FUNCTION WHICH GENERATES A NUMBER FROM START TO end-1 range

In [16]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [17]:
for i in range(1,21,2): # every 2 number will be printed bcz v used 2
    print(i)

1
3
5
7
9
11
13
15
17
19

In [19]:
for i in range(20,0,-1): # print results in reverse
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [22]:
l2=[16,35,13,18,20,33]
for x in l2:
    if x%2==0:
        print(x,"is even")
    else:
        print(x,"is odd")

16 is even
35 is odd
13 is odd
18 is even
20 is even
33 is odd

# FUNCTIONS

            block of code wch performs specific task
            supports code reusability
            v cn write functions only once and cn use them any number of times so it is clld has function support code reusability 

### THERE ARE 3 TYPES OF FUNCTIONS

                1. PREDEFINED FUNCTIONS  : append() ,sort(), reverse()
                2. USERDEFINES FUNCTIONS : are defined by users using DEF keyword 
                3. ANONYMOUS / LAMDA FUN : are the functions without any name

## USERDEFINED FUNCTIONS 

                it has 2 parts :
                1) Function definition 
                2) Function call 

### FUNCTION DEFINITION 

                SYNTAX : def function_name():
                            task done by function 
                EXMPLE : def greet():
                         print("good morning")

### FUNCTION CALL 

                SYNTAX   :function_name()
                EXMPLE : def greet():
                         print("good morning")
                         greet()

In [9]:
def greet(): #function definition 
    print("good morning")

In [10]:
for i in range(1,11):
    greet() #function call

good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning

#### PARAMETER 
                 --> r the variables passed inside the function definition 
#### ARGUMENTS 
                ---> r the actual values passed inside the function call

In [10]:
def add(a,b):    #(a,b) is paramenter
    print(a+b)
add(5,3)         #(5,3) is argument

8

In [11]:
add(3,7)

10

In [13]:
def student(fname,lname):
    print(fname,lname)
student("virat","kohli")

virat kohli

In [16]:
student("ms","dhoni")

ms dhoni

In [17]:
#return keyword will return the result back to the caller 
def area(r):
    area=3.14*r**2
    print(area)
    #return area

In [19]:
area(2)

12.56

In [20]:
area(5)

78.5

In [22]:
# write a function to check inputed number is even or odd
input=int(input("enter the number"))
def function(n):
    if n%2==0:
        print("even")
    else:
        print("odd")
#[IT CN BE WRITTN HERE] input=int(input("enter the number"))
function(input)

enter the number 45

odd

### DOCSTRING
           * r multiline comments which r put immediately aftr function/class definition.
           * used for documentation

In [24]:
def square(x):
    ''' THIS IS 
    A DOCSTRING '''
    return x**2

In [25]:
square(10)

100

In [30]:
#function_name.__doc__
square.__doc__

' THIS IS \n    A DOCSTRING '

## ANONYMOUS / LAMDA FUNCTIONS
                        --> is cld lamda function -> whch r function without name
                        --> these function cn have any number of arguments but only one expression

                        syntax : x=lambda a:a*a (func definition)
                                 x--> function object
                                 lambda -->keyword
                                 a-->parameter
                                 a*a--> expression 

                                 (function call)
                                 x(4)

In [31]:
x=lambda a:a*a 
x(4)

16

In [32]:
x(7)

49

In [33]:
x(12)

144

In [34]:
product=lambda a,b:a*b
product(5,6)

30

In [35]:
product(12,5)

60

In [36]:
cricketer=lambda a,b:print(a,b)
cricketer("ms","dhoni")

ms dhoni

In [37]:
cricketer("hardhik","pande")

hardhik pande

In [38]:
greater=lambda a,b:a if a>b else b
greater(15,2)

15

In [40]:
greater(9,20)

20

# FILTER FUNCTION

In [41]:
x=[23,-5,-3,10,1,-3.5]
x_negative=filter(lambda a:a<0,x)
list(x_negative)

[-5, -3, -3.5]

In [44]:
y=[12,45,24,23,57,10]
y_even=filter(lambda a:a%2==0,y)
list(y_even)

[12, 24, 10]

In [46]:
y_odd=filter(lambda a:a%2!=0,y)
list(y_odd)

[45, 23, 57]

# MAP FUNCTION
                cn helps to apply same function to every element of list / tuple iteratively

In [49]:
x=[5,12,6,7,-7]
# MULIPLYS EACH ELEMENT BY ITSELF USING MAP FUNC 
def multiply(x):
    return x*x

In [50]:
double =map(multiply,x)
list(double)

[25, 144, 36, 49, 49]

In [51]:
addBy10=map(lambda a:a+10,x)
list(addBy10)

[15, 22, 16, 17, 3]

# REDUCE FUNCTION
will apply the function on all elements of the list / tuple iteratively & reduce the final result into a single value

In [52]:
import functools
x=[10,6,12,23,5]
greatest=functools.reduce(lambda a,b:a if a>b else b,x)
greatest

23

In [53]:
sum=functools.reduce(lambda a,b:a+b,x)
sum

56